* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* ------------------ Header ------------------ */
header {
    display: flex;
    align-items: center;
    padding: 1.5rem;
    box-shadow: 0 4px 6px -1px rgba(0,0,0,0.1),
                0 2px 4px -2px rgba(0,0,0,0.1);
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 10;
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 1.5rem;
}

.navbar a {
    text-decoration: none;
    color: black;
    position: relative;
    padding-bottom: 2px;
}

.navbar a::after {
    position: absolute;
    bottom: 0;
    left: 0;
    content: '';
    width: 100%;
    height: 2px;
    transform: scale(0);
    transform-origin: center;
    transition: 0.2s ease-in;
    background-color: deepskyblue;
}

.navbar a:hover::after {
    transform: scale(1);
}

.auth {
    margin-left: auto;
}

.authBtn {
    position: relative;
    margin-left: 5px;
    background: none;
    border: 1px solid black;
    padding: 0.6rem 1.1rem;
    border-radius: 20px;
    transition: all 0.1s ease-in;
    overflow: clip;
    font-size: 0.9rem;
    cursor: pointer;
}

.authBtn::before {
    position: absolute;
    width: 10px;
    height: 10px;
    bottom: 0;
    right: 50%;
    left: 50%;
    border-radius: 40px;
    transform: translateY(10px) translateX(-5px);
    content: '';
    background-color: deepskyblue;
    transition: 0.5s ease;
    z-index: -1;
}

.authBtn:hover.authBtn::before {
    transform: scale(10.5);
}

.SubmitBtn {
    background: none;
    border: 1px solid black;
    padding: 0.6rem 1.1rem;
    border-radius: 20px;
    background-color: deepskyblue;
    font-size: 1rem;
    cursor: pointer;
}

/* ------------------ Main  Section ------------------ */
.hero {
    color: black;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    animation: FadeIn 1s linear;
    height: calc(100dvh - 84.175px);
}

.hero > * {
    animation: FadeIn 2s ease forwards;
    opacity: 0;
}

.hero > *:nth-child(1) { animation-delay: 0s; }
.hero > *:nth-child(2) { animation-delay: 0.4s; }
.hero > *:nth-child(3) { animation-delay: 0.8s; }
.hero > *:nth-child(4) { animation-delay: 1.2s; }
.hero > *:nth-child(5) { animation-delay: 1.2s; }

.DescContainer {
    width: 60%;
    text-align: center;
}

.scroll {
    height: 70px;
    width: 40px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    background: none;
    border: 1px solid black;
}

.scrollObject {
    transform: translateY(5px);
    width: 30px;
    height: 30px;
    background: black;
    border-radius: 30px;
    animation: scroll 2.5s infinite;
}

/* ------------------ Login Modal ------------------ */
.login-form {
    top: 84.175px;
    right: 0;
    background-color: white;
    padding: 20px 30px;
    height: auto;
    width: 40vw;
    position: fixed;
   box-shadow: 0 4px 6px -1px rgba(0,0,0,0.1),
                0 2px 4px -2px rgba(0,0,0,0.1);
    
    transform: translateX(100vw) !important;
    transition: 0.5s ease;
}

.shown {
    transform: translateX(0) !important;
}

.Top {
    display: flex;
    align-items: center;
}

.CloseBtn {
    position: relative;
    width: 30px;
    height: 30px;
    border-radius: 20px;
    margin-left: auto;
    margin-bottom: 10px;
}

.CloseBtn:hover {
    background-color: hsl(0, 0%, 90%);
}

.CloseBtn span {
    position: absolute;
    width: 20px;
    height: 2px;
    top: 50%;
    left: 50%;
    border-radius: 5px;
    background-color: black;
}

.CloseBtn span:first-child {
    transform: translate(-50%, -50%) rotate(45deg);
}

.CloseBtn span:last-child {
    transform: translate(-50%, -50%) rotate(-45deg);
}

.login-form form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.Authorisation {
    display: flex;
    flex-direction: column;
}

.Authorisation input {
    height: 30px;
}

.Forget {
    display: flex;
    justify-content: space-between;
}

.Forget label {
    color: black;
}



/* ------------------ Card Display ------------------ */
.CardDisplay {
    padding: 200px 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.card {
    height: 300px;
    width: 300px;
    perspective: 1000px;
    border-radius: 20px;
}

.card-Inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    border-radius: 20px;
}

.card-front, .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 20px;
    align-content: center;
}

.card-front {
    background-color: #bbb;
    color: black;
}

.card-back {
    background-color: dodgerblue;
    color: white;
    transform: rotateY(180deg);
    padding: 10px;
}

.card:hover .card-Inner {
    transform: rotateY(180deg);
}

/* ------------------ Keyframes ------------------ */
@keyframes FadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes gradient-animation {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

@keyframes scroll {
    from { transform: translateY(5px); }
    to { transform: translateY(30px); }
}

/* Media  Queries */
@media(max-width:840px) {
    .Forget label, .Forget a {
        font-size: 12px;
    }
}